:root {
  --green: #1763aa;
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --text-color-danger: rgb(152, 58, 58);
  --white: rgba(194, 136, 97, 0.151);

}

@font-face {
  font-family: "ChakraPetch";
  src: url("../public/fonts/ChakraPetch-Regular.ttf");
}

@font-face {
  font-family: "ChakraPetch-italic";
  src: url("../public/fonts/ChakraPetch-MediumItalic.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, p, li, b{
  font-family: "ChakraPetch";
}
h1,h2{
  font-family: "ChakraPetch-italic";
}
/*==================== Navigation ========================*/

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 50vh;
  margin: 0 2vw 0 0; 
  top: 25vh;
  position: fixed;
  right: 0;
  z-index: 0;
}

nav a {
  text-decoration: none;
  font-size: 1.1vw;
  height: 1.7vw;
  width: 1.7vw;
  border-radius: 50%;
  background-color: #FA9339;
  transition: width 0.8s, visibility 0.8s, border-radius 1s;
  overflow: hidden;
  color: rgba(0, 0, 0, 0);
  right: 0;
  z-index: 1;
}

.active {
  color: black;
  width: 7vw;
  border-radius: 1vw;
  text-align: center;
  visibility: visible;
  float: right;
}

.navLine{
  stroke:rgb(126, 126, 126);
  stroke-width:3;
  position: absolute;
  z-index: 0;

  right: 0;
  
}

.socialNav{
  display: flex;
  flex-direction: column;
  float: left;
  height: 10vw;
  justify-content: space-around;
  top: 40vh;
  left: 0;  
  position: fixed;  
}

.contactMeBox{
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 3vh;
  right: 1.2vh;
}

.contactMeBox img{
  width: 3.5vw;
  height: auto;
}

.socialNav img{
  width: 3vw;
  padding: 1vw;
  height: auto;
}

/*====================== Welcome Page ==========================*/
html  {
  background-color: #f1f0f0;
}

.myFace{
  left: 4vw;
  z-index: 0;
  height: auto;
  width: 29.75vw;
  bottom: 0;
  position: fixed;
}

.welcomeTextBox{
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  float: right;
  text-align: left;
  margin-right: 9.5vw;
  margin-top: 10vh;
  padding: 1vw;
  border-radius: 1.5vw;
  width: 56vw;

}

.welcomeTextBox h1 {
  font-size: 4.2vw;
}

.welcomeTextBox h2 {
  font-size: 2vw;
}
.welcomeTextBox h1 span {
  color: #0093B3;
  text-shadow: 1vw 0.9vw 0.5vw #FA9339 ;
}
.welcomeTextBox h2 span {
  color: #0093B3;
  text-decoration: underline solid #FA9339;
}


/*====================== About Me Page ==========================*/

.aboutHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 6rem;
}

.aboutTitle{
  text-align: center;
  font-size: 3vw;
}

.aboutMe, .aboutTitle{
  width: 60vw;
  margin: 0 20vw 0 20vw;
}

.aboutMeIntro {
  width: 60vw;
  margin: 0 20vw 0 20vw;
  font-size: 1.2vw;
}

.aboutMeSkills {
  width: 60vw;
  margin: 10vh 0 0 0;
  font-size: 1.2vw;
  border-left: solid #FA9339;
  border-right: solid #FA9339;
  padding: 0 2vh 0 2vh;
  text-align: center;
}

.svgArrowDown {
  margin: 5vh 0 5vh 0;
  width:10vh;
}

.aboutMe{
  font-size: 1.4vw;
  border-bottom: solid #0093B3;
  margin-bottom: 10vh;
}



.colorLegend1, .markColorLegend1::marker{
  color: #FA9339;
  font-size: 2.1vw;
  
}
.colorLegend2, .markColorLegend2::marker{
  color: #2ADAFF;
  font-size: 2.1vw;
}
.colorLegend3, .markColorLegend3::marker{
  color: #0093B3;
  font-size: 2.1vw;
}
.colorLegend4, .markColorLegend4::marker{
  color: #FFC28C;
  font-size: 2.1vw;
}
.colorLegend5, .markColorLegend5::marker{
  color: #AD5100;
  font-size: 2.1vw;
}
.colorLegend6, .markColorLegend6::marker{
  color: #1763aa;
  font-size: 2.1vw;
}
.colorLegend7, .markColorLegend7::marker{
  color: #026f88;
  font-size: 2.1vw;
}

.progArticle{
  width: 70vw;
  margin: 0 15vw 20rem 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: solid #0093B3 ;
  border-top: solid #0093B3 ;
  border-radius: 15vh;
}

.progArticleLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.progArticle h2{
  font-size: 2.5vw;
  
}
.pieChart{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pieChart img{

  width: 22vw;
  height: auto;
}

.subsetItems{
  font-size: 1.2vw;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 1em;
  padding: 1em;
}
.skillDesc ul{
  margin: 0vh 0 2vh 0;
}
.skillDesc{
  display: flex;
  flex-direction: column;
}
.skillDesc span{
  font-size: 1.9vw;
}
.skillRating{  
  border-top: solid #FA9339;
  font-size: 1.1vw;
  padding-bottom: 0;
}
.cvSection{
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cvSection img{
  margin-left: 2vw;
  width: 3vw;
  height: auto;
}


/*======================== Projects Page ==============================*/

.grid-container{
  display: flex;
  flex-direction: column ;
  gap: 2rem;
  margin: 0 10vw 0 10vw;
  
}
@media (min-width: 600px) {
  .grid-container {
      grid-template-columns: 1fr 1fr;
  }
  
}

@media (min-width: 992px) {
  .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

.projectIntroBox h1{
  font-size: 2vw;
  color:#1763aa;
}

.projectIntroBox{
  width: 35vw;
}

.projectIntroBox > article {
  display: flex;
}

.grid-container > article {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  
  justify-content: space-around;
}

.grid-container > article:hover {
  box-shadow: 0 8px 16px 0 var(--green);
}

.grid-container > article img {
  width: 20vw;
  height: auto;
}
.projectsPageText h1 {
  text-align: center;
  margin: 5vh 0 5vh 0;
}
/*======================== About Project Page ==============================*/

.post-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1vw;
}

.projectBackBtn{
  
  position: absolute;
  top: 12vh;
  left: 7.5vw;
}

.projectBackBtn img{
  width: 3vw;
  height: auto;
}

.rowLeft{
  margin-right: 5vw;
  border-right: solid #FA9339 ;
  flex-wrap: wrap;
  width: 18vw;
}
.rowRight{
  width: 52vw;
}
.usefulLinksBox{
  margin: 10vh 0 0 0;
}
.rowLeftTextBox div{
  margin-top: 5vh;
}
.usefulLinks{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.usefulLinks img{
  width: 5vw;
  height: auto;
  margin: 3vh 2vw 0 0;
}
.articleRow {
  display: flex;
  flex-direction: row;
  margin: 0 5vw 0 10vw;
}

.post-row h1 {
  text-align: center;
  margin-bottom: 5vh;
  font-size: 4vw;
  color: #1763aa;
}



/*======================== About Project Page - END ==============================*/
